<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
    crossorigin="anonymous">
    <title><%= title %></title>
    <style>
      *{
        margin: 0;
        padding: 0;
      }
      /* body{
        font-family: 'Montserrat' ,cursive;
      } */
      h1{
        font-family: cursive;
        text-align: center;
        margin: 20px;
      }
      p{
        font-family: cursive;
        padding-left: 21%;
        margin: 20px;
      }
    </style>
</head>
<body>
    
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light  bg-info fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#"><span class="text-warning">Rafiul</span>Huda</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <br><br>
      <h1 style="text-align: center;">Ini adalah halaman Tentang Saya</h1>
      <p>Saya adalah seorang mahasiswa di Universitas Pamulang dengan jurusan Teknik Informatika</p>
      <p>Umur saya 22 tahum</p>
      <p>saya tinggal di tangerang</p>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
    crossorigin="anonymous"></script>
</body>
</html>